<div class="container ">
    <div class="card" style="width: 18rem;">
  <img src="https://martinbrainon.com/inicio/wp-content/uploads/2018/01/lead-nuclear-power-human-error-homer-simpson-1-600x398.jpg" class="card-img-top" alt="homer having trouble in the nuclear power plant">
  <div class="card-body">
    <h4 class="card-title">Error</h4>
    
    <p>{{data.errorMessage}}</p>
   
    <a href="http://localhost:8080/" class="btn btn-primary">Intenter de nuevo</a>
  </div>
</div>
</div>